* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: Rational Text, sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/*  ======== 
    NAVIGATION
    ======== 
*/

.menu {
    position: fixed;
    color: white;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 4;
}

.menu--active {
    color: black;
    /* background-color: #00aeda; */
    background-color: #fff;
    height: 60px;
}

nav * {
    margin: 0 32px;
}

nav ul li {
    margin: 8px;
}

#logo {
    background-color: black;
}

/*  ======== 
    HEADER
    ======== 
*/
.hero {
    background: url("assets/img/header-bg.jpg") no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero__title {
    animation-name: typed-cursor;
    border-right-style: solid;
    border-right-width: 4px;
    animation-duration: 1s;
    padding-right: 4px;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
}

@keyframes typed-cursor {

    0%,
    100% {
        border-color: #00aeda;
    }

    50% {
        border-color: transparent;
    }
}

/*  ======== 
    SECTIONS
    ======== 
*/

.flex {
    display: flex;
}

.flex--even {
    justify-content: space-evenly;
}

.reverse {
    flex-direction: row-reverse;
}

.center {
    justify-content: center;
}

.section__title {
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 40px;
}

section {
    padding: 70px 0;
}

#about {
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    background-color: #EFEFEF;
    color: #002a4e;
    /* background-color: #2E2E30; */
}

.numbers {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

.numbers__big {
    font-size: 150px;
    line-height: 1;
}

#why-us {
    background-color: #2E2E30;
    color: white;
}

.argument {
    width: 20%;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    text-align: center;
}

.argument__circle {
    background-color: #00AEDA;
    border: 5px solid #2E2E30;
    border-radius: 50%;
    box-shadow: 0 0 0 3px white;
    height: 40px;
    width: 40px;
}

/* .argument__description {
    text-align: center;
} */

.line {
    position: absolute;
    z-index: 0;
    margin-top: 22px;
    box-sizing: border-box;
    width: 100%;
    border: solid white 2px;
}



#activites {
    background-color: #EFEFEF;
    color: #002A4E;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 70px;
}

.activity {
    height: 100%;
    width: 75%;
    text-align: center;
    /* overflow: hidden; */
    position: relative;
    margin: 0 auto;
}

.activity__photo {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.activity__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activity__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: 0.5s;
    color: white;
    font-size: 32px;
    text-transform: uppercase;
}

.activity:hover .activity__title {
    top: 0;
    color: #002A4E;
    transform: translate(-50%, -100%);
}

.activity__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    color: white;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 42, 78, 0.5);
    transition: 1s;
}

.activity__description::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    transform: rotate(15deg) translateX(-100%);
    transition: 1s all;
}

.activity:hover .activity__description::before {
    transform: rotate(15deg) translateX(-70%);
}

.activity:hover .activity__description {
    visibility: visible;
    opacity: 1;
}

.description__text {
    transition: 1s;
    transform: translateX(-100%);
}

.activity:hover .description__text {
    transform: translateX(0);
}

#other-services {
    padding: 0;
}

.slanted {
    width: 60%;
    height: 330px;
    background: #2E2E30;
    position: relative;
    z-index: 2;
}


.slanted.right {
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 200%);
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 200%);
}

.slanted.left {
    -webkit-clip-path: polygon(20% 0, 100% 0, 100% 200%, 0% 100%);
    clip-path: polygon(20% 0, 100% 0, 100% 200%, 0% 100%);
}

.service-img {
    position: absolute;
    width: 40%;
    height: 330px;
    z-index: 0;
}

.service-img.right {
    right: 50%;
    margin-right: -34%;
}

.service-img.left {
    left: 50%;
    margin-left: -50%;
}

.service-img img {
    display: block;
    object-fit: cover;
    width: 140%;
    height: 330px;
    z-index: 0;
}

.service-description {
    color: white;
    text-align: center;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    height: 330px;
}

.slanted.right .service-description {
    margin-left: 7%;
}

.slanted.left .service-description {
    margin-left: 17%;
}

#opinions {
    background-color: #EFEFEF;
}

#opinions h2 {
    color: #002A4E;
}

#opinions .flex {
    margin: 32px 0;
}

.text-bubble {
    position: relative;
    background-color: white;
    margin: 24px;
    padding: 16px 24px;
}

.text-bubble::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 35px;
    border-width: 40px 40px 0 0;
    border-style: solid;
    border-color: white transparent;
    display: block;
    width: 0;
}

.author img {
    width: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

#pricing h2 {
    color: #002A4E;
}

#pricing .flex {
    justify-content: center;
    align-items: center;
}

.price-tag {
    background-color: #EFEFEF;
    width: 250px;
    height: 400px;
    margin: 8px;
    text-align: center;
    transition: .5s;
}

.price-tag.active {
    color: white;
    width: 330px;
    height: 500px;
    background-color: #2E2E30;
}

.price-tag:hover {
    color: white;
    transform: scale(1.1);
    background-color: #2E2E30;
}