* {
    margin: 0;
    padding: 0;
}

html {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: Rational Text, sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    background-color: #002A4E;
    padding: 10px;
    border-radius: 8px;
    transition: .3s;
}

.btn--hero {
    font-size: 32px;
    margin-top: 16px;
}

.btn:hover {
    background-color: rgb(0, 53,
        100);
}

/*  ======== 
    NAVIGATION
    ======== 
*/

.menu {
    position: fixed;
    top: 0;
    color: white;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 4;
}

.menu__hamburger {
    display: none;
}

.menu__hamburger span {
    width: 80%;
    height: 3px;
    margin: 3px auto;
    background-color: #002A4E;
    display: block;
    border-radius: 8px;
}

.menu__aside {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    opacity: 0.9;
    color: white;
    position: fixed;
    top: 0;
    left: -50%;
    background-color: #002A4E;
    margin: 0;
    list-style: none;
    transition: 1s all ease-in-out;
}

.menu__aside li {
    display: block;
    margin: 16px auto;
    text-align: center;
    border-bottom: solid 2px #EFEFEF;
    width: 50%;
}

.menu__aside.show {
    transform: translateX(100%);
}

.menu__top {
    display: flex;
    margin-right: 32px;
    list-style: none;
}

.menu__bottom {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 32px;
}

.menu__bottom li {
    margin: 0 16px;
}

.menu--active {
    background-color: #fff;
    height: 60px;
}

.menu--active .menu__top a {
    color: black;
}

.menu--active a.btn {
    color: white;
}

nav ul li {
    margin: 8px;
}

#logo {
    background-color: black;
    margin-left: 32px;
}

/*  ======== 
    HEADER
    ======== 
*/

.hero {
    background: url("../assets/img/header.jpg") no-repeat 20% 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero__title {
    padding-right: 4px;
    text-transform: uppercase;
    font-size: 48px;
}

/*  ======== 
    SECTIONS
    ======== 
*/

.flex {
    display: flex;
}

.flex--even {
    justify-content: space-evenly;
}

.reverse {
    flex-direction: row-reverse;
}

.center {
    justify-content: center;
}

.section__title {
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
}

.section__subtitle {
    font-size: 24px;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 300;
}

.section__subtitle--no-margin {
    margin: 0;
}

section {
    padding: 70px 0;
}

#about {
    background-color: #EFEFEF;
    color: #002a4e;
}

.numbers {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
}

.numbers--big {
    font-size: 120px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 24px;
}

#why-us {
    background-color: #2E2E30;
    color: white;
}

.argument {
    width: 20%;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    text-align: center;
}

.argument__circle {
    background-color: #00AEDA;
    border: 5px solid #2E2E30;
    border-radius: 50%;
    margin-bottom: 8px;
    box-shadow: 0 0 0 3px white;
    height: 40px;
    width: 40px;
}

.line {
    position: absolute;
    margin-top: 22px;
    box-sizing: border-box;
    width: 100%;
    border: solid white 2px;
}

#activities {
    background-color: #EFEFEF;
    color: #002A4E;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 70px;
}

.activity {
    height: 100%;
    width: 75%;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.activity__photo {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.activity__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section__subtitle--animated {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: 0.5s;
    color: white;
    margin: 0;
}

.activity:hover .section__subtitle--animated {
    top: 0;
    color: #002A4E;
    transform: translate(-50%, -100%);
}

.activity__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    color: white;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 42, 78, 0.5);
    transition: 1s;
}

.activity__description::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    transform: rotate(15deg) translateX(-100%);
    transition: 1s all;
}

.activity:hover .activity__description::before {
    transform: rotate(15deg) translateX(-70%);
}

.activity:hover .activity__description {
    visibility: visible;
    opacity: 1;
}

.description__text {
    margin: 8px;
    transition: 1s;
    transform: translateX(-100%);
}

.activity:hover .description__text {
    transform: translateX(0);
}

#other-services {
    padding: 0;
}

.slanted {
    width: 60%;
    height: 330px;
    background: #2E2E30;
    position: relative;
    z-index: 2;
}

.slanted--right {
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 200%);
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 200%);
}

.slanted--left {
    -webkit-clip-path: polygon(20% 0, 100% 0, 100% 200%, 0% 100%);
    clip-path: polygon(20% 0, 100% 0, 100% 200%, 0% 100%);
}

.service-img {
    position: absolute;
    width: 40%;
    height: 330px;
    z-index: 0;
}

.service-img.right {
    right: 50%;
    margin-right: -34%;
}

.service-img.left {
    left: 50%;
    margin-left: -50%;
}

.service-img img {
    display: block;
    object-fit: cover;
    width: 140%;
    height: 330px;
    z-index: 0;
}

.slanted__description {
    color: white;
    text-align: center;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    height: 330px;
}

.slanted--right .slanted__description {
    margin-left: 7%;
}

.slanted--left .slanted__description {
    margin-left: 17%;
}

#opinions {
    background-color: #EFEFEF;
}

#opinions h2 {
    color: #002A4E;
}

#opinions .flex {
    margin: 32px 0;
}

.text-bubble {
    position: relative;
    background-color: white;
    border-radius: 5px;
    margin: 24px;
    padding: 16px 24px;
}

.text-bubble::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 35px;
    border-width: 40px 40px 0 0;
    border-style: solid;
    border-color: white transparent;
    display: block;
    width: 0;
}

.text-bubble__author {
    color: rgb(107, 107, 107);
    margin-top: 16px;
}

.text-bubble__author cite {
    margin-left: 8px;
}

.text-bubble__author img {
    width: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

#pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing h2 {
    color: #002A4E;
}

#pricing .container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.price-box {
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
    width: 250px;
    height: 400px;
    margin: 8px;
    transition: .5s;
}

.price-box__header {
    background-color: #2E2E30;
    color: #EFEFEF;
    padding: 16px;
    text-align: center;
}

.price-box__header--active {
    background-color: #002A4E;
    color: #EFEFEF;
}

.price-box--active h4 {
    display: flex;
    font-size: 56px;
    justify-content: center;
    align-items: center;
    flex: 2;
    vertical-align: center;
    margin-top: 48px;
    transform: rotate(22.5deg);
}

.price__tag {
    font-size: 48px;
    font-weight: 600;
}

.price-box--active {
    color: white;
    width: 330px;
    height: 500px;
    background-color: #2E2E30;
}

.price-box__list {
    flex: 5;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    list-style: disc inside;
    font-size: 16px;
}

.price-box__list--active {
    font-size: 22px;
}

.price-box:hover {
    color: white;
    transform: scale(1.1);
    background-color: #2E2E30;
}

footer {
    background-color: #2E2E30;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 8px;
}

.signature {
    font-size: 10px;
}